{% extends "menu.html" %}


{% block title %}Операции{% endblock %}


{% block content %}
<h4 class="my-3">Операции в этом месяце</h4>
<div class="operations-list list-group w-50" id="operations-list">
</div>

<!-- Модальное окно изменения операции -->
<div class="modal" id="edit-operation-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование категории</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/edit-operation" id="operation-edit-form">
                    <div class="row">
                        <div class="col-5 mb-2">
                            <label for="operation-edit-from-account" class="form-label" id="operation-edit-from-account-label">Название категории</label>
                            <select class="form-select" aria-label="Default select example" id="operation-edit-from-account">
                            </select>
                        </div>
                        <div class="col-2 mb-2 text-center">
                            <br>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                        <div class="col-5 mb-2">
                            <label for="operation-edit-to-account" class="form-label" id="operation-edit-to-account-label">Название категории</label>
                            <select class="form-select" aria-label="Default select example" id="operation-edit-to-account">
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-8">
                            <label for="operation-edit-amount" class="form-label" id="operation-edit-amount-label">Объем</label>
                            <input type="number" step="any" class="form-control" id="operation-edit-amount">                            </div>
                        <div class="col-4">
                            <label for="operation-create-expense" class="form-label">Валюта</label>
                            <select class="form-select" aria-label="Default select example" id="operation-edit-currency">
                                <option value="RUB">RUB</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="operation-edit-about" class="form-label">Доп. информация</label>
                        <input class="form-control" id="operation-edit-about" placeholder="Не обязательно">
                    </div>
                    <div class="alert alert-danger p-2" role="alert" id="alert-edit-operation"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="pre-delete-operation-button" data-bs-toggle="modal" data-bs-target="#delete-operation-modal">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" id="operation-edit-button">Изменить счет</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно удаления категории -->
<div class="modal" tabindex="-1" id="delete-operation-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вы точно хотите удалить эту операцию</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-danger" id="delete-operation-button">Удалить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', path='/js/operations_functions.js') }}"></script>
<script src="{{ url_for('static', path='/js/operations.js') }}"></script>
{% endblock %}